<!DOCTYPE html>
<html>
  <head>
    <title>Python-kurs, NTNU, 2012</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="https://github.com/downloads/gnab/remark/remark-0.3.1.min.js" type="text/javascript">
      { "highlightStyle": "solarized_light" }
    </script>
    <script src="../lib/jquery-1.7.1.js" type="text/javascript"></script>
    <script src="../lib/bekk.js" type="text/javascript"></script>

    <link href='../lib/Inconsolata.css' rel='stylesheet' type='text/css'>

    <link rel="stylesheet/less" type="text/css" href="../lib/bekk.less">
    <script src="../lib/less-1.1.5.min.js" type="text/javascript"></script>
  </head>
  <body>
    <textarea id="source">

.front-page

# Python-kurs

## Del 3: Webprogrammering med Django!

Forelesning ved NTNU

Håkon Erichsen 
Hjelpelærere: Åsmund Eldhuset, Jonas Follesø og Ole Christian Rynning

21/03/2012

---

.agenda

# Agenda

* Django's arkitektur
* Kom igang!
* Modell, visning og kontrollere
* Administrasjonsgrensesnitt
* Autentisering med Facebook
* Release!

---

# Django's arkitektur

TODO: MVC, projects -> apps, pluggbarhet (plugins)
Nevn: https://docs.djangoproject.com/en/1.3/

---

# Kom igang!

OS X (og Linux, hvis du har easy_install):

    sudo easy_install pip
    sudo pip install django


Linux (og OS X, hvis du av en eller annen grunn ikke har easy_install):

    curl -L -o Django-1.3.1.tar.gz http://www.djangoproject.com/download/1.3.1/tarball/
    tar xzvf Django-1.3.1.tar.gz
    sudo python Django-1.3.1/setup.py install
    

Windows:

    Last ned: http://www.djangoproject.com/download/1.3.1/tarball/
    Pakk opp fila
    Finn mappen i kommandovindu, og kjør `python setup.py install`
    Litt kryptisk: Legg til MappeDuHarPythonI/site-packages/ i miljøvariabelen PATH
    (Win7: Trykk windows-tast, skriv 'var', velg "endre miljovariabler", finn PATH, og legg til mappen med ; bak)

---

# Opprett prosjekt

Django er organisert i prosjekter og applikasjoner. Et prosjekt kan ha mange applikasjoner. For å 
starte et prosjekt i mappen `del3` skriv:

    django-admin.py startproject del3

Dette vil lage en basis mappestruktur, og en fil `manage.py` som vi skal bruke videre. La oss se om Django fungerer!

    cd del3
    python manage.py runserver

Og gå til 127.0.0.1:8000 i nettleseren. Fungerte det?

---

# Grunnleggende konfigurasjon

settings.py inneholder alle innstillinger for django-prosjektet. Følgende verdier er viktige i starten:

* ADMINS
    * Admins kan få mail når det kommer feilmeldinger
* DATABASES, [ENGINE, NAME]
    * Django kan bruke mange forskjellige databaser. For små, enkle sider og utvikling holder det som regel med sqlite:
    * Sett ENGINE til `'django.db.backends.sqlite3'`
    * Sett NAME til f.eks `'db.sqlite3'`, dette er bare et filnavn, kan være hva som helst
* TIME_ZONE
    * Kan være grei å sette til `'Europe/Oslo'`

---

# Opprett applikasjon

Et prosjekt er bare et skall uten en app, så la oss lage en! 
Vi skal lage en huskeliste-webside, så la oss kalle den `todo`:

    python manage.py startapp todo

Dette lager en mappe `todo`, med følgende filer:

    __init__.py       Sier bare at denne mappen er en python-pakke. Tom fil.
    models.py         Her putter vi modeller
    views.py          Her putter vi views
    tests.py          Her putter vi tester, inneholder allerede én test for å vise formatet

Dette er bare konvensjoner. Det er ingenting som hindrer deg fra å putte views i tests.py eller models.py.
Hvis man får mange views er det vanlig å lage en mappe som heter views, og legge flere filer under den mappen.

---

# Modeller

Beskriver data og hvordan dataene kan manipuleres. 
Hver modell er direkte knyttet til en tabell i databasen
    
    from django.db import models

    class Person (models.Model):
        name = models.CharField(max_length=100)
        age = models.IntegerField()
        biography = models.TextField()

Dette korresponderer til en tabell app_person i databasen med feltene `id`, `name`, `age` og `biography`

Felter kan ta inn forskjellige parametere som endrer oppførselen, f.eks kan alle felter ta inn en default:

    age = models.IntegerField(default=0)

---

# Modeller

Mange forskjellige felttyper:

* CharField: Kort tekst
* TextField: Lang tekst
* IntegerField: Heltall
* PositiveIntegerField: Positive heltall
* DateTimeField: Dato og tid
* DateField: Kun dato
* BooleanField: True/False

... og [mange flere](https://docs.djangoproject.com/en/1.3/ref/models/fields/#field-types).

---

# Modeller

Relasjoner til andre modeller er utrolig lett:

    from django.db import models

    class Person (models.Model):
        name = models.CharField(max_length=100)
        age = models.IntegerField()
        biography = models.TextField()

    class Dog (models.Model)
        owner = models.ForeignKey(Person)
        name = models.CharField(max_length=100)

Mer om hvordan vi bruker slike relasjoner senere.

---

# Modeller

Modeller kan også ha metoder:

    from django.db import models

    class Person (models.Model):
        name = models.CharField(max_length=100)
        age = models.IntegerField()
        biography = models.TextField()

    def increase_age (self):
        self.age += 1
        self.save()

`save()` og `delete()` gjør akkurat de du tror de gjør; vi skal bruke de mer senere


---

# Modeller

### Oppgaver

* Lag en modell `Task`, i `todo/models.py` som har et felt for tekst, og et heltallsfelt for rekkefølge.
* Kjør `python manage.py syncdb` for å lage modellen 

---

# Fasit

    from django.db import models

    class Task (models.Model):
        text = models.CharField(max_length=1000)
        place = models.IntegerField(default=0)

        # Ikke en del av oppgaven; men veldig praktisk å ha!
        # Definerer hva som kommer ut når vi prøver å skrive ut et Task-objekt
        def __unicode__ (self):
            return self.text

---

# ORM-EN

Object Relational Mapper, Django håndterer SQL for oss:

    User.objects.all() # Hent ut alle tasks
    User.objects.get(id=3) # Hent ut bare én
    User.objects.filter(age=20) # Hent ut alle med alder lik 20

    u = User(name="Håkon", age=22) # Lager en bruker Håkon, men lagrer det IKKE i databasen
    u.save() # Lagrer det i databasen
    print u.id # Etter lagring har objektet fått en ID

---

# ORM-en

Litt mer avansert:

    .python
    # Hent alle brukere med fødselsår senere eller lik 1996
    users = User.objects.filter(birth__year__gte=1996) # birth er et DateTimeField

    # Oppdater alle brukerene vi hentet i linja over
    users.update(bieber_fever=True) 

    users.count() # Kjører en COUNT spørring
    len(users) # Kjører en vanlig spørring, lager en liste av dem, og finner lengden til lista

    # Hent ut eieren til en hund
    dog = Dog.objects.get(name="Fido")
    print dog.owner

    # Hent alle hunder eid av en viss bruker:
    user = User.objects.get(id=1)
    dogs = user.dog_set.all()

    # Slett brukeren
    user.delete()

---

# ORM-en

### Oppgaver

Start opp `manage.py shell` og gjør følgende:

* Legg inn 5 oppgaver
* print() ut navnene på alle oppgaver som er i databasen nå
* Hent ut en oppgave, og slett den
* print() ut navnene på nytt, og bekreft at oppgaven er slettet
* Hent ut alle oppgavene som har id større enn 3
* Prøv litt deg litt frem: prøv .count(), .update(), .filter()


---

# Views

Hver metode tilsvarer én side. Views kobler sammen data (modeller) med presentasjon (templates):
    
    def index (request):

        # Laste inn objekter, 
        # lagre objekter fra forms, 
        # regne ut ting, f.eks:
        user = User.objects.get(id=1)

        # Viser templaten 'index.html', og gjør `user` tilgjengelig for templatespråket.
        return render(request, 'index.html', {'user': user}) 

For at et view skal være tilgjengelig må du gi det en URL i `urls.py`:

    urlpatterns = patterns('',
        url(r'^$', 'app.views.index'), # Sier at URL-en '/' skal gå til metoden index
    )

---

# Templates

Templates er rett og slett HTML, med et eget template-språk i tillegg:

    .html
    <h1>Hello {{ user }}</h1>
    <p>You are {{ user.age }} years old! </p>

    {% if user.age >= 18 %}
        <p>And you can buy alcohol!</p>
    {% endif %}

Objektet `user` kommer fra viewet:

    .python
    return render(request, 'index.html', {'user': user})

---

# Templates

Man kan også bruke løkker, hvis `users` her er en liste:

    .html
    <ul>
        {% for user in users %}
            <li>{{ user }}</li>
        {% endfor %}
    </ul>

Eller, hvis man vil gjøre noe spesielt hvis lista er tom:

    .html
    <ul>
        {% for user in users %}
            <li>{{ user }}</li>
        {% empty %}
            <li>No users :(</li>
        {% endfor %}
    </ul>

---

# Om templates og mappestruktur

Konvensjoner:

* Èn universal templates-mappe for felles templates for prosjektet
* En templates-mappe i hver app.

Alle de forskjellige mappene "syes sammen", og ser ut som èn stor mappe for django.
Vi må derfor ha litt flere mapper enn det som virker logisk:

    templates
    app1
        templates
            app1
                overview.html
        models.py
        views.py
    app2
        templates
            app2
                overview.html
        models.py
        views.py

Da kan vi skrive `app1/overview.html` og `app2/overview.html` i viewet vårt, og være sikker på at vi får riktig template.

---

# Views og Templates

### Oppgaver

* Lag et view `overview` i `todo/views.py` som skal vise alle tasks
* Lag en template `todo/templates/todo/overview.html` til dette viewet.
* Gi viewet ditt en URL i `urls.py`, slik at du kan nå det, og teste det

---

# Fasit

todo/views.py:

    from django.shortcuts import render
    from del3.todo.models import Task

    def overview (request):
        tasks = Task.objects.all()    
        
        return render(request, 'todo/overview.html', {'tasks': tasks})

todo/templates/todo/overview.html:

    <h2>Tasks</h2>
    
    <ul>
        {% for task in tasks %}
            <li>{{ task.text }}</li>
        {% endfor %}
    </ul>

urls.py
    
    urlpatterns = patterns('',
        url(r'^$', 'todo.views.overview'),
    )

---

# Templates og arv

Ofte er man interessert i å ha en basis-template som definerer et grunndesign,
og bare bytte ut en liten bit av siden. Dette kan vi gjøre slik:

templates/base.html

    <html>
    <head>
        <title>Todo liste</title>
    </head>

    <body>
    {% block content %}

    {% endblock}
    <body>
    </html>

todo/templates/todo/overview.html

    {% extends "base.html" %}

    {% block content %}
        <p>Innholdet her kommer inni blokken i base.html</p>
    {% endblock %}

Du kan også ha flere slike blokker. Hvis en blokk ikke er definert viser den bare innholdet den har i foreldre-templaten.

---

# Templates og arv

Obs! Vi må huske å fortelle django at den skal lete etter templates i `templates/`:

settings.py:

    TEMPLATE_DIRS = (
        '/absolutt/path/til/templates/mappa'
    )

Hvis du ikke vil skrive inn absolutt path kan du bruke dette lille trikset:

    import os
    ROOTPATH = os.path.dirname(__file__)

    TEMPLATE_DIRS = (
        os.path.join(ROOTPATH, "templates"),
    )

---

.middle.center

# Nå: Litt mer magi

---

# Admin

Django kan lage admin-interface for deg automatisk!

settings.py, avkommenter linjen om admin:

    INSTALLED_APPS = (
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    # Uncomment the next line to enable the admin:
    'django.contrib.admin',
    # Uncomment the next line to enable admin documentation:
    #'django.contrib.admindocs',
    'todo'
)

urls.py, avkommenter de tre linjene den sier du skal avkommentere

todo/models.py, legg til:

    from django.contrib import admin
    admin.site.register(Task)

Og gå til `127.0.0.1:8000/admin`

---

# Admin

Djangoadminen kan relativt enkelt modifiseres,
båte utseende og hvilke felter man får opp, hvor mange etc.

Hva bør djangoadmin brukes til?

* Legge inn oppstartsdata
* Hvis bare du skal være admin
* Enkle data

Hva bør du IKKE bruke djangoadmin til?

* Brukere som ikke er datakyndige
* Hvis du må endre MYE for å få det pent/brukervennlig
* Hvis du ikke bruker django-brukere

---

# Auth


---

# Deploy

Heroku! Krever Ruby 1.8.6 eller nyere installert.

Windows: RubyInstaller, Linux: aptitude/yum install ruby rubygems

I console, <code>gem install heroku</code>. Du får nå en kommando `heroku` som hjelper deg å deployere applikasjoner
til heroku.

Opprett en applikasjon på heroku:

    ➜ heroku create --stack cedar
    Creating pure-dusk-3005... done, stack is cedar
    http://pure-dusk-3005.herokuapp.com/ | git@heroku.com:pure-dusk-3005.git
    Git remote heroku added

    ➜ git remote   
    heroku
    origin

[heroku devcenter]:(http://devcenter.heroku.com/articles/django)


---

# Deploy #2 (Virtual environment)

Det neste vi må gjøre er å sette opp applikasjonen vårt i `virtualenv`. Virtualenv er en abstraksjon (lik rvm) for å 
distribuere fullstendige python-miljøer.

    ➜ sudo pip install virtualenv

    ➜ virtualenv heroku-env --distribute
    New python executable in heroku-env/bin/python
    Installing distribute........done.
    Installing pip...............done. 

    ➜ source heroku-env/bin/activate
    ➜ pip install Django
    ➜ pip freeze > dependencies.txt
    echo "heroku-env" >> .gitignore

    git commit -am "Ready for heroku\!"

    git push heroku master


---

.middle.center

# Spørsmål?

Kom og jobb hos [oss i BEKK](http://www.bekk.no/jobb/stillinger/)

    </textarea>
    <div id="slideshow"></div>
  </body>
</html>
